html, body { 
    min-height: 100vh; 
    margin: 0;
    background-color: black;
    color: wheat;

    display: flex;
    flex-direction: column;

    
}

ul {
    margin: 0;
    padding: 0;
}

.header, .container {
    text-align: center;
}



.container {

    height: auto;
    
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

#textScreen {
    margin: 0;
    height: 40px;
    color: aqua;
    background-color: red;

}

#scoreScreen {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


#scoreNumbers {
    font-size: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

p#comp, p#player {
    margin: 0;
}

.butts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;


}

.start {
    display: block;
    
    
}

.choices {
    margin: 0;
    padding: 0;
    

}

.rps {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    justify-content: center;
}

.footer {
    display: flex;
    height: 50px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    
}

button {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border-style: solid;
    border-color: red;
    background-color: gray;
}

button:hover {
    background-color: brown;
}